<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <!-- Binds the selected radio button to the "thisMonth" variable using ngModel -->
    <ion-radio-group [(ngModel)]="thisMonth">
           <!-- Creates an item for each month in "monthsData" array -->
           <ion-item *ngFor="let month of monthsData">    
             <!-- displays the label for the radio button with the current month -->
            <ion-label>{{ month }}</ion-label>
            <!-- Creates the radio button with the current month as its value -->
            <ion-radio slot="start" [value]="month"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button (click)="saveMonth()">Save</ion-button>
  </ion-content>
  