<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center" style="margin-top: 120px;">{{ stopwatchFormat() }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="start()">Start</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="pause()">Pause</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="reset()">Reset</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
