

<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list>
    <!-- Binds the selected radio button to the "thisYear" variable using ngModel -->
    <ion-radio-group [(ngModel)]="thisYear">
           <!-- Creates an item for each year in "yearsData" array -->
           <ion-item *ngFor="let year of yearsData">    
             <!-- displays the label for the radio button with the current year -->
            <ion-label>{{ year }}</ion-label>
            <!-- Creates the radio button with the current year as its value -->
            <ion-radio slot="start" [value]="year"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button (click)="saveYear()">Save</ion-button>
  </ion-content>
